<div [hidden]="isShow" class="card m-3">
  <h5 class="card-header">Angular 8 Reactive Form Validation</h5>
  <div
    class="card-body"
    style="border: 1px solid black; margin-left: auto; margin-right: auto"
  >
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col"></div>
      </div>

      <div class="form-group">
        <label>Email : </label>
        <input
          type="text"
          formControlName="email"
          [(ngModel)]="user.email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />

        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <p *ngIf="f.email.errors.required">Email is required</p>
          <p *ngIf="f.email.errors.email">
            Email must be a valid email address
          </p>
        </div>
      </div>
      <br />

      <div class="form-group">
        <label>Message: </label>
        <input
          type="text"
          ngModel
          maxlength="10"
          minlength="4"
          formControlName="firstName"
          [(ngModel)]="user.firstName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
        />

        <div
          *ngIf="submitted && f.firstName.errors"
          class="invalid-feedback"
          class="parent"
        >
          <span class="child" *ngIf="f.firstName.errors.required"
            >Message is required</span
          >
          <span class="child" *ngIf="f.firstName.errors.minlength">
            Name must be at least 4 characters long.</span
          >
        </div>
      </div>

      <br />

      <div class="form-group">
        <label>Body : </label>
        <textarea
          maxlength="100"
          ng-model="string"
          formControlName="body"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.body.errors }"
          [(ngModel)]="user.body"
          #bodylength
        ></textarea>
        <!-- <div *ngIf="submitted && f.body.errors" class="invalid-feedback"></div>
        <p *ngIf="f.body.errors.required">Body is required</p> -->
      </div>

      <div class="text-center">
        <button type="submit">Send</button>
        <!-- <button type="submit" (click)="toggleDisplay1()">Send</button> -->
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<div>
  <button (click)="toggleDisplay()">Compose</button>
</div>
<div class="container">
  <h3>Data Form Local Sorage</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Body</th>
        <th>firstName</th>
        <th>Lengths</th>
      </tr>
    </thead>

    <tbody>
      <!-- userListOp::{{
        userListOp | json
      }} -->
      <tr #tableContent *ngFor="let ob of userListOp">
        <td>{{ ob.email }}</td>
        <td>{{ ob.body }}</td>
        <td>{{ ob.firstName }}</td>
        <td>{{ ob.body.length }}</td>
      </tr>
    </tbody>
  </table>
</div>
