h3
{
   color:blue;
}

.static table{
    border-collapse: collapse;
    display: inline-block;
    margin-bottom: 23px;
    width: auto;
    }

    th,td {
        border: 1px solid;
        padding: 5px;
        font-size: small;
        }


        .parent { height: 20px; }
.child { line-height: 20px; vertical-align: middle;    font-family: Arial; 
    margin-left:450px; color: red;}
