<!-- <p>display-child works!</p> -->

<p> hello {{displayName}} </p>
<!-- 
 <app-display-child  (ItemEmmit)=" addNewItem($event)" ></app-display-child>
 <p> heyy parent says hello {{ItemEmmit}}</p>  -->




