<h3> from servers component </h3>

<label> server name </label>


<!-- ------------------------------------------------------------------------------------------------------ -->
<!--input type="text" class="form-control" (input)="OnUpdateServerName($event)"-->
<input type="text" class="form-control" [(ngModel)]="servername ">
<!-- ------------------------------------------------------------------------------------------------------ -->


<!-- ---------------------------------Else --------------------------------------------------------------------- -->
<p *ngIf="servercreated; else noServer">server was created and the name is {{servername}}</p>
<ng-template #noServer>
  <p>no server was created</p>
</ng-template>
<!-- ------------------------------------------------------------------------------------------------------ -->


<!-- ------------------------------------------------------------------------------------------------------ -->
<app-server *ngFor="let server of servers"></app-server>    
<button class="btn btn-primary" [disabled]="!AllowNewServer"  (click)="OnCreateServer()"> add server </button>
<!--p>{{ servercreationstatus }}</p-->
<!--input type="text" class="form-control" (input)="onUpdateServerName($event)" [(ngModel)]="servername"-->
<!--p *ngIf="servercreated">i am into servers and the servers name is {{ servername }}</p-->
<!--button class="btn btn-primary" (click)="showsecret = !showsecret">Display the details</button-->

<button class="btn btn-primary" (click)="onToggleDisplay()">Display the details</button>
<p *ngIf="showsecret">secret password is= tuna</p>
<div *ngFor="let logItem of log"   [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transperent'}">{{logItem}}</div>

<!-- ------------------------------------------------------------------------------------------------------ -->


<!-- --------------------------------------For loop---------------------------------------------------------------- -->
<ul>
  <li *ngFor="let listname of names; let i = index">
    {{i+1}}{{listname}}
    </li>
  </ul>


<!-- --------------------------------Property Binding---------------------------------------------------------------------- -->
<div>
  <input [value]="myText">
  </div>
<!-- -------------------------------- ---------------------------------------------------------------------- -->


 <!-- ----------------------------------parent to child------------------------------------------------------------------- -->
<p>
  Today's item: {{item}}
</p>
<!-- -------------------------------- ---------------------------------------------------------------------- -->

<!-- <label>Add an item: <input #newItem></label>
<button (click)="addNewItem(newItem.value)">Add to parent's list</button> -->
