<!-- <h3> from app component </h3> -->
<app-email-task></app-email-task>
hello
<!-- <app-hook-practical [user]="username"></app-hook-practical>
     <button (click)='changeName()'>Change Name</button> 
<router-outlet></router-outlet>  -->

<!-- --------------------------- first SERVICE output ---------------------------------- -->
<!-- <h1>
  Welcome to {{ title }}!
  Sum is {{sum}}
</h1>  -->
<!-- ---------------------------  ---------------------------------- -->

<!-- <app-servers></app-servers> -->
<!-- <app-server>/</app-server> -->

<!-- <input type="text" class="form-control" (input)="getcurrentvalue($event)"> -->
<!--  <input type="text" class="form-control" [(ngModel)]="currentvalue">-->

<!-- 
<div style="border: 1px solid red; width:100%">
<h1>  parent child commn  </h1>
  <app-servers [item]="currentValue"></app-servers> 
</div> 
 
   -->

<!-- ---------------------------  for child to parent ---------------------------------- -->
<!-- <app-servers (newItemEvent)="addItem($event)"></app-servers>
              <ul>
                  <li *ngFor="let item of items">{{item}}</li>
              </ul> -->

<!-- ---------------------------  for onchanges ---------------------------------- -->
<!-- <app-server[hero]="hero" [power]="power"></app-server>  -->

<!-- <h1>-----------------------------------------------Hook method-----------------------------------------------------</h1> -->
<!-- <h3>heyy in parent Component and everything above is about hook method prac </h3>

<input type="text" class="form-control" [(ngModel)]="username"> 
   <input type="text" class="form-control" (change)="OnUpdateServerName($event)" [(ngModel)]="username">
  <button class="btn btn-primary"  (click)="OnCreateUser()"> add user </button>

  <p *ngIf="usercreated; else noServer">user was created and the name is {{username}}</p>
  <ng-template #noServer>
    <p>no user was created</p>
  </ng-template>
   -->

<!-- <h1>------------------------------------PIPE----------------------------------------------------------------</h1> -->

<!-- <div style="text-align:center">
  <h1>
    {{2 | firstPipe: 5}}
  </h1>
</div>
<router-outlet></router-outlet> -->

<!-- <h1>-------------------------------------PIPE 2---------------------------------------------------------------</h1> -->

<!-- <app-standardpipe></app-standardpipe> -->

<!-- <h1>Example of Custom Pipe</h1>  
<h2>Square root of 625 is: {{625 | firstPipe}}</h2><br/>   -->

<!-- <h1>-------------------------------------PIPE 2---------------------------------------------------------------</h1> -->

<!-- <h1>-------------------------------------Child to parent vice versa-------------------------------------------------</h1>-->
<!-- <input type="text" lass="form-control" (input)="sendName($event)" [(ngModel)]="usernameEnter">
<button class="btn btn-primary"  (click)="addname()"> add name </button>
 <div *ngIf ="nameadded" >Hello {{usernameEnter}}</div> 
 <app-display-child [displayName]="finalresult"></app-display-child> 

  -->

<!-- <h1>-------------------------------------PIPE 2---------------------------------------------------------------</h1> -->
