<p [ngStyle]= "{backgroundColor : getcolor()}"
   [ngClass]= "{online: ServerStatus === 'online'}">
   static id is {{'server'}} The server Id is {{ServerIds}} and status is {{ServerStatus}}
</p>

<!-- <app-server name="name"></app-server> -->