
<!-- 
<p *ngFor="let user1 of users"><p>     -->
<!-- <button class="btn btn-primary"  (click)="OnCreateuser()"  > add user </button> -->


<!-- <input type="text" class="form-control" [(ngModel)]="username">
<p *ngIf="usercreated; else nouser">user was created and the name is {{username}}</p>
<ng-template #nouser>
  <p>no user was created</p>
</ng-template>
 -->

 <!-- <p *ngFor="let user1 of users" [user]="user" [name]="name"><p>  
 <button class="btn btn-primary" (click)="changename()"> change name </button

 <h1> The  user is {{user}}  </h1>  -->


<!-- <h3> in the Child  Component and the user Changed was {{user}}</h3>
<h2>Hey {{company.firstname}}</h2>
 -->
<!-- -------------------------------------------------------------- -->