h3
{
    color:yellow;
}


// input[type=text] {
//     margin-left: 500px;
//     background-color: white;
//     background-position: 10px 10px;
//     background-repeat: no-repeat;
//     padding-left: 40px;
//   }

  body, input[text], button { 
    font-family: Cambria, Georgia; 

  }

  textarea
{
    margin-left: 490px;
    margin-right: 200px;
    width: 20%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

   div 
   {  
     font-size: 18px; 
     
   } 
  

  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    margin-left: 350px;
   
  }
  button:hover {
    background-color: #cfd8dc;
  }

  label{
    display: inline-block;
 
    clear: left;
    width: 500px;
    text-align: right;
}
input {
  display: inline-block;
}
p
{
    color:red;
    font-family: Arial;
    margin-left: 500px;
    margin-right: 200px;
    
}

